/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #b46a38; /* Naranja */
    padding: 20px;
    text-align: center;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

h1, h2 {
    color: #111111; /* Naranja */
}

main {
    padding: 20px;
}

#foods-list, #search-section {
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilo para las tarjetas de comida */
.food-card {
    background-color: #fff; /* Fondo blanco */
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
}

.food-card:hover {
    transform: translateY(-10px); /* Efecto hover */
}

.food-card h3 {
    color: #c58458; /* Naranja */
}

.food-card p {
    color: #666; /* Gris oscuro */
    text-align: center;
}

.food-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 15px;
    border: 2px solid #ddd;
    padding: 5px;
}

/* Estilos del buscador */
#search-section {
    text-align: center;
    margin-top: 20px;
}

#search-input {
    padding: 12px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#search-button {
    padding: 12px 24px;
    background-color: #FF6600; /* Naranja */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#search-button:hover {
    background-color: #c96019; /* Naranja más oscuro */
}

#search-results {
    margin-top: 30px;
}

#search-results .food-card {
    width: 80%;
    margin: 0 auto;
}

/* Estilo para los enlaces */
a {
    color: #a06c49; /* Naranja */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
